<div class="container clearfix">


	<div class="col1-1 centered">

	<div class="flexslider">
				<figure class="images">
					<ul class="slides">
						<li><img src="../images/euro.jpg" alt="" /></li>
					</ul>
				</figure>
			</div>

</div>
<div class="big-break"></div>
<div class="col1-1 centered border-bottom">
		<h4 class="with-p-below">Affiche pour annoncer un gagner à l'Euro million</h4><p class="small"><i>Print</i></p><button class="next-ajax" href="ajax/project2.html">Suivant</button>
	</div>
    
    
    
    <div class="clear"></div>
    
	<div class="col1-1 centered border-top">

		<div class="small-break"></div>
        <p><a class="close-ajax">Close</a></p>
    
	</div>


</div>